.baap{
    margin-left: 15vh;
}
.set-profile{
    margin-top: 6vh;
    margin-left: 18vh;
}



.profile{
    font-size: 2.5pc;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.wh{
    font-size: 1px;
}

.Paregoan{
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
   font-weight: bold;
    font-size: 1.2pc;
}

.img{
    border-radius: 100px;
}