
.margin-left{
    margin-left: 3vw;
}

.font{
    margin-top: 3vw;
    font-size:20px;
    color: black;
}



.wid {
    border: none; 
    border-bottom: 1px solid black; 
    width: 80%; 
    padding: 7px; 
    margin: 17px 0; 
    /* outline: none; */
}



