.margin-left{
    margin-left: 5vw;
}

.font{
    margin-top: 8vw;
    font-size:20px;
    color: black;
}



.wi {
    border: none; 
    border-bottom: 1px solid rgb(139, 139, 139);
     width: 90%;   
    margin: 15px 0px;
    
}



