.font-size {
    font-size: 20px;
    color: black;
    margin-left: 5vw;
    margin-top: 5vw;
}

.set_card {
    border: 1px solid black;
    position: sticky;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    padding-left: 2vw;
    padding-right: 3vw;
    font-size: 1vw;
    border-radius: 0.5vw;
}

.set_card1 {
    border: 1px solid black;
    position: sticky;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 1vw;
    border-radius: 0.5vw;
}

.set_card:hover, .set_card1:hover {
    background-color: rgb(23, 162, 184); /* Bootstrap bg-info color */
    color: white; /* Change text color on hover */
}

